<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header"/>

<body>
	
	<div th:replace="common/header :: navbar"/>

		<div class="container">
	
			<div class="row" style="margin-bottom: -100px;">
				<div class="col-8">
					<h2 class="section-headline"><span>Konto użytkownika</span></h2>
				</div>
				<div class="col-4">
					<img alt="logo" src="/image/logo.jpg" class="img-fluid"/>
				</div> 
			</div>
			
			<!-- <hr style="position: absolute; width: 90%; height: 6px; z-index: -1; margin-top: -80px"/> -->
			
			<img alt="logo" src="/image/wood.png" class="img-fluid" style="margin-top: -75px;"/>
		
		</div>  <!--container end  -->

	


	<!-- Bootstrap core JavaScript -->
	<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>