<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header"/>

<body>
	
	<div th:replace="common/header :: navbar"/>
	
	<div></div>

		<div class="container">
	
			<div class="row" style="margin-bottom: -100px;">
				<div class="col-8">
					<h2 class="section-headline"><span>Konto użytkownika</span></h2>
				</div>
				<div class="col-4">
					<img alt="logo" src="/image/logo.jpg" class="img-fluid"/>
				</div> 
			</div>
			
<!--			<hr style="position: absolute; width: 100%; height: 6px; z-index: -1; margin-top: -80px;"/>
			
 			<img alt="logo" src="/image/wood.png" class="img-fluid" style="margin-top: -75px;"/>
 -->		
		
			
			<div class="row" style="margin-top: 120px;">
				<div class="col-12" >
					
					<!-- Nav tabs -->
					<ul class="nav nav-tabs justify-content-center">
						<li class="nav-item">
							<a class="nav-link" th:classappend="${classActiveNewAccount}? 'active'" data-toggle="tab" href="#tab-1" style="color: grey;">Nowe konto</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:classappend="${classActiveLogin}? 'active'" data-toggle="tab" href="#tab-2" style="color: grey;">Zaloguj</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:classappend="${classActiveForgetPassword}? 'active'" data-toggle="tab" href="#tab-3" style="color: grey;">Zapomniałem hasła</a>
						</li>
					</ul>
	
					<!-- Tab panels -->
					<div class="tab-content">
					
						<!-- Create new user -->
						<div class="tab-pane container" id="tab-1" th:classappend="${classActiveNewAccount}? 'in active'" style="border-radius: 5px; background-color: #f2f2f2; margin-top:10px; padding: 20px;">
							<div class="alert alert-info" th:if="${emailSent}">
								Na podany przez Ciebie email została wysłana wiadomość. Potwerdź email i uaktualnij hasło.
							</div>
							<form th:action="@{/newUser}" method="post">
								<div class="form-group">
									<label for="newUsername">* Nazwa użytkownika</label>
									<input required="required" type="text" class="form-control" id="newUsername" name="username" placeholder="Nazwa użytkownika"/>
									<small class="form-text text-muted">Wprowadź nazwę użytkownika.</small>
								</div>
								<div class="form-group">
									<label for="newUsername">* Email</label>
									<input required="required" type="text" class="form-control" id="email" name="email" placeholder="Email użytkownika"/>
									<small class="form-text text-muted">Wprowadź email.</small>
								</div>
								<button type="submit" class="btn btn-default">Utwórz nowe konto</button>
							</form>
						</div>
					
						<!-- Login -->
						<div class="tab-pane container" id="tab-2" th:classappend="${classActiveLogin}? 'in active'" style="border-radius: 5px; background-color: #f2f2f2; margin-top:10px; padding: 20px;">
							<form>
								<div class="form-group">
									<label for="newUsername">* Nazwa użytkownika</label>
									<input required="required" type="text" class="form-control" id="newUsername" name="username" placeholder="Nazwa użytkownika"/>
									<small class="form-text text-muted">Wprowadź nazwę użytkownika.</small>
								</div>
								<div class="form-group">
									<label for="password">* Hasło:</label>
									<input required="required" type="password" class="form-control" id="password" name="password" placeholder="Wprowadź hasło"/>
									<small class="form-text text-muted">Wprowadź hasło.</small>
								</div>
								<button type="submit" class="btn btn-default">Zaloguj</button>
							</form>
						</div>
						
						<!-- Forget password panel -->
						<div class="tab-pane container" id="tab-3" th:classappend="${classActiveForgetPassword}? 'in active'" style="border-radius: 5px; background-color: #f2f2f2; margin-top:10px; padding: 20px;">
							<form>
								<div class="form-group">
									<label for="recoverEmail">* Email</label>
									<input required="required" type="text" class="form-control" id="recoverEmail" name="email" placeholder="Email"/>
									<small class="form-text text-muted">Wprowadź email podany przy rejestracji, który posłuży do zresetowania hasła.</small>
								</div>
								<button type="submit" class="btn btn-default">Wyślij</button>
							</form>
						</div>
						
					</div>
					
				</div> 

			</div>
			
			
			
		</div>  
		<!--container end  -->	
	


	<!-- Bootstrap core JavaScript -->
	<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>